data_dir   = "/opt/nomad/data"
bind_addr  = "{%raw%}{{ GetInterfaceIP \"tailscale0\" }}{%endraw%}"
datacenter = "246bp"

server {
  enabled          = true
  bootstrap_expect = 1
}

client {
  enabled = true
  host_network "tailscale" {
    # Reference: https://tailscale.com/kb/1015/100.x-addresses/
    cidr           = "{{ HostIp }}/10"
    reserved_ports = "22"
  }

  host_volume "mysql_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/mysql"
  }

  host_volume "vikunja_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/vikunja/files"
  }

  host_volume "nextcloud_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/nextcloud"
  }

  host_volume "bookstack_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/bookstack/public/uploads"
  }

  host_volume "webtrees_data_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/webtrees/data"
  }

  host_volume "webtrees_media_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/webtrees/media"
  }

  host_volume "photoprism_originals_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/photoprism/originals"
  }

  host_volume "photoprism_storage_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/photoprism/storage"
  }

  host_volume "navidrome_data_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/navidrome/data"
  }

  host_volume "audiobooks_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/audiobooks/data"
  }

  host_volume "audiobookshelf_config_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/audiobookshelf/config"
  }

  host_volume "audiobookshelf_metadata_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/audiobookshelf/metadata"
  }

  host_volume "duplicati_config_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/duplicati"
  }

  host_volume "duplicati_source_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab"
  }

  host_volume "duplicati_backup_hdd_volume" {
    path = "{{ hdd_mount_path }}/backup"
  }

  host_volume "ntfy_cache_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/ntfy"
  }

  host_volume "cronicle_data_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/cronicle/data"
  }

  host_volume "cronicle_logs_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/cronicle/logs"
  }

  host_volume "cronicle_plugins_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/cronicle/plugins"
  }

  host_volume "cronicle_app_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/cronicle/app"
  }

  host_volume "metabase_hdd_volume" {
    path = "{{ hdd_mount_path }}/homelab/metabase"
  }
}

plugin "docker" {
  config {
    pull_activity_timeout = "30m"
    volumes {
      enabled = true
      selinuxlabel = "z"
    }
  }
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

telemetry {
  collection_interval        = "15s"
  disable_hostname           = true
  prometheus_metrics         = true
  publish_allocation_metrics = true
  publish_node_metrics       = true
}

consul {
  address = "{{ HostIp }}:8500"
}
