---
apiVersion: velero.io/v1
kind: BackupStorageLocation
metadata:
  name: default
  namespace: velero
  labels:
    app.kubernetes.io/name: velero
spec:
  credential:
    name: velero-credentials
    key: cloud
  provider: aws
  accessMode: ReadWrite
  default: true
  objectStorage:
    bucket: homelab-sweet-homelab
    prefix: velero
  config:
    region: auto
    s3ForcePathStyle: "true"
    s3Url: https://399b29c5fa49ceb55728ba787d3d1e8a.r2.cloudflarestorage.com
