---
apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-config
  namespace: authelia
data:
  configuration.yml: |
    ---
    theme: auto

    server:
      address: tcp://0.0.0.0:9091

    log:
      level: info
      format: text

    totp:
      disable: false
      issuer: taptappers.club

    webauthn:
      disable: true

    authentication_backend:
      password_reset:
        disable: true
      refresh_interval: 5m
      file:
        path: /config/users_database.yml
        password:
          algorithm: argon2
          argon2:
            variant: argon2id
            iterations: 3
            memory: 65536
            parallelism: 4
            key_length: 32
            salt_length: 16

    session:
      name: authelia_session
      domain: taptappers.club
      same_site: lax
      expiration: 1h
      inactivity: 5m
      remember_me_duration: 1M
      redis:
        host: redis.databases.svc.cluster.local
        port: 6379
        database_index: 1

    regulation:
      max_retries: 3
      find_time: 2m
      ban_time: 5m

    storage:
      local:
        path: /config/db.sqlite3

    notifier:
      disable_startup_check: false
      smtp:
        address: smtp://smtp.gmail.com:587
        username: spotifyrounak@gmail.com
        sender: "Authelia <spotifyrounak@gmail.com>"
        subject: "[Authelia] {title}"

    access_control:
      default_policy: deny
      rules:
        # Protected apps - require two-factor authentication
        - domain:
            - "*.taptappers.club"
          policy: two_factor
          subject:
            - ["group:users"]

