---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hugo-site
  namespace: sites
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
spec:
  tls:
    - hosts:
        - HOSTNAME_PLACEHOLDER
      secretName: hugo-site-tls
  rules:
    - host: HOSTNAME_PLACEHOLDER
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: hugo-site
                port:
                  number: 80
