# firefly-iii
:8081 {
    reverse_proxy {{ HostIp }}:9299
}

# bookstack
:8082 {
    reverse_proxy {{ HostIp }}:5566
}

# vikunja
:8083 {
    reverse_proxy /api/* {{ HostIp }}:45566
    reverse_proxy /.well-known/* {{ HostIp }}:45566
    reverse_proxy /dav/* {{ HostIp }}:45566
    reverse_proxy {{ HostIp }}:55566
}

# nextcloud
:8084 {
    reverse_proxy {{ HostIp }}:9292
}

# webtrees
:8085 {
    reverse_proxy {{ HostIp }}:3299
}

# photoprism
:8086 {
    reverse_proxy {{ HostIp }}:2342
}

# ainv_dev
:8087 {
    reverse_proxy {{ HostIp }}:5444
}

# ainv_prod
:8088 {
    reverse_proxy {{ HostIp }}:5445
}
