# firefly-iii
:8081 {
    reverse_proxy {{ HostIp }}:9299
}

# bookstack
:8082 {
    reverse_proxy {{ HostIp }}:5566
}

# vikunja
:8083 {
    reverse_proxy /api/* {{ HostIp }}:45566
    reverse_proxy /.well-known/* {{ HostIp }}:45566
    reverse_proxy /dav/* {{ HostIp }}:45566
    reverse_proxy {{ HostIp }}:55566
}

# nextcloud
:8084 {
    reverse_proxy {{ HostIp }}:9292
}

# webtrees
:8085 {
    reverse_proxy {{ HostIp }}:3299
}

# photoprism
:8086 {
    reverse_proxy {{ HostIp }}:2342
}

# ainv_dev
:8087 {
    reverse_proxy {{ HostIp }}:5444
}

# ainv_prod
:8088 {
    reverse_proxy {{ HostIp }}:5445
}

# audiobookshelf (port is an exception)
:8079 {
    reverse_proxy {{ HostIp }}:4444
}

# duplicati
:8091 {
    reverse_proxy {{ HostIp }}:6060
}

# ntfy
:8092 {
    reverse_proxy {{ HostIp }}:9577
}

# cronicle
:8093 {
    reverse_proxy {{ HostIp }}:3012
}

# metabase
:8094 {
    reverse_proxy {{ HostIp }}:3999
}

# n8n
:8095 {
    reverse_proxy {{ HostIp }}:7339
}

# kavita
:8096 {
    reverse_proxy {{ HostIp }}:7246
}

# mailpile
:8097 {
    reverse_proxy {{ HostIp }}:4246
}

# miniflux
:8098 {
    reverse_proxy {{ HostIp }}:5999
}

# souptik
:8099 {
    reverse_proxy {{ HostIp }}:6000
}

# monica
:8100 {
    reverse_proxy {{ HostIp }}:4848
}

# jellyfin
:8101 {
    reverse_proxy {{ HostIp }}:12005
}

# aops
:8102 {
    reverse_proxy {{ HostIp }}:7444
}

# immich-server
:8103 {
    reverse_proxy {{ HostIp }}:2283
}

# immich
:8104 {
    handle_path /api/* {
        reverse_proxy {{ HostIp }}:2283
    }

    reverse_proxy {{ HostIp }}:2282
}
