# firefly-iii
:8081 {
    reverse_proxy {{ HostIp }}:9299
    header Content-Security-Policy upgrade-insecure-requests
}

# bookstack
:8082 {
    reverse_proxy {{ HostIp }}:5566
}

# vikunja
:8083 {
    reverse_proxy /api/* {{ HostIp }}:45566
    reverse_proxy /.well-known/* {{ HostIp }}:45566
    reverse_proxy /dav/* {{ HostIp }}:45566
    reverse_proxy {{ HostIp }}:55566
}

# nextcloud
:8084 {
    reverse_proxy {{ HostIp }}:9292
}

# webtrees
:8085 {
    reverse_proxy {{ HostIp }}:3299
}

# photoprism
:8086 {
    reverse_proxy {{ HostIp }}:2342
}

# ainv_dev
:8087 {
    reverse_proxy {{ HostIp }}:5444
}

# ainv_prod
:8088 {
    reverse_proxy {{ HostIp }}:5445
}

# audiobookshelf
:8090 {
    reverse_proxy {{ HostIp }}:4444
}

# duplicati
:8091 {
    reverse_proxy {{ HostIp }}:6060
}

# ntfy
:8092 {
    reverse_proxy {{ HostIp }}:9577
}

# cronicle
:8093 {
    reverse_proxy {{ HostIp }}:3012
}

# metabase
:8094 {
    reverse_proxy {{ HostIp }}:3999
}

# n8n
:8095 {
    reverse_proxy {{ HostIp }}:7339
}

# kavita
:8096 {
    reverse_proxy {{ HostIp }}:7246
}
