job "aops_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "aops_group" {
    count = 1

    network {
      port "aops_port" {
        static       = "7444"
        to           = "5001"
        host_network = "tailscale"
      }
    }

    restart {
      attempts = 3
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "aops" {
      driver = "docker"

      env = {
        FB_API_KEY = "{{ FbApiKey }}"
        FB_AUTH_DOMAIN = "{{ FbAuthDomain }}"
        FB_BUCKET = "{{ FbBucket }}"
        FB_DB_URL = "{{ FbDbUrl }}"
        MY_DOMAIN = "https://aops.{{ BaseDomain }}"
        RECP_1 = "{{ EmailRecipient1 }}"
        RECP_2 = "{{ EmailRecipient2 }}"
        SECRET = "{{ Secret }}"
        Y_EMAIL = "{{ YMail }}"
        Y_PWD = "{{ YPassword }}"
      }

      config {
        image = "rounakdatta/aops"
        ports = ["aops_port"]

      }
    }

  }
}

