job "audiobookshelf_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "audiobookshelf_group" {
    count = 1

    network {
      port "audiobookshelf_port" {
        static       = "4444"
        to           = "80"
        host_network = "tailscale"
      }
    }

    volume "audiobookshelf_data_volume" {
      type      = "host"
      source    = "audiobooks_hdd_volume"
      read_only = false
    }

    volume "audiobookshelf_config_volume" {
      type      = "host"
      source    = "audiobookshelf_config_hdd_volume"
      read_only = false
    }

    volume "audiobookshelf_metadata_volume" {
      type      = "host"
      source    = "audiobookshelf_metadata_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 3
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "audiobookshelf" {
      driver = "docker"

      resources {
        memory = 200
      }

      volume_mount {
        volume      = "audiobookshelf_data_volume"
        destination = "/audiobooks"
        read_only   = false
      }

      volume_mount {
        volume      = "audiobookshelf_config_volume"
        destination = "/config"
        read_only   = false
      }

      volume_mount {
        volume      = "audiobookshelf_metadata_volume"
        destination = "/metadata"
        read_only   = false
      }

      config {
        image = "advplyr/audiobookshelf"
        ports = ["audiobookshelf_port"]
      }
    }
  }
}

