job "bookstack_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "bookstack_group" {
    count = 1

    network {
      port "bookstack_port" {
        static       = "5566"
        to           = "8080"
        host_network = "tailscale"
      }
    }

    volume "bookstack_volume" {
      type      = "host"
      source    = "bookstack_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 3
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "bookstack" {
      driver = "docker"

      resources {
        memory = 500
      }

      env = {
        DB_HOST     = "{{ DatabaseHost }}"
        DB_USERNAME = "{{ BookstackDatabaseUsername }}"
        DB_PASSWORD = "{{ BookstackDatabasePassword }}"
        DB_DATABASE = "{{ BookstackDatabaseName }}"
        APP_URL     = "https://bookstack.{{ BaseDomain }}"
      }

      volume_mount {
        volume      = "bookstack_volume"
        destination = "/var/www/bookstack/public/uploads"
        read_only   = false
      }

      config {
        image = "rounakdatta/docker-bookstack"
        ports = ["bookstack_port"]

      }
    }
  }
}

