job "chatgpt_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "chatgpt_group" {
    count = 1

    network {
      port "chatgpt_port" {
        static       = "7111"
        to           = "3000"
        host_network = "tailscale"
      }
    }

    volume "chatgpt_volume" {
      type      = "host"
      source    = "chatgpt_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 3
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "chatgpt" {
      driver = "docker"

      volume_mount {
        volume      = "chatgpt_volume"
        destination = "/app/data"
        read_only   = false
      }

      config {
        image = "ghcr.io/cogentapps/chat-with-gpt:release"
        ports = ["chatgpt_port"]
      }
    }
  }
}
