job "cronicle_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "cronicle_group" {
    count = 1

    network {
      port "cronicle_port" {
        static       = "3012"
        to           = "3012"
        host_network = "tailscale"
      }
    }

    volume "cronicle_data_volume" {
      type      = "host"
      source    = "cronicle_data_hdd_volume"
      read_only = false
    }

    volume "cronicle_logs_volume" {
      type      = "host"
      source    = "cronicle_logs_hdd_volume"
      read_only = false
    }

    volume "cronicle_plugins_volume" {
      type      = "host"
      source    = "cronicle_plugins_hdd_volume"
      read_only = false
    }

    volume "cronicle_app_volume" {
      type      = "host"
      source    = "cronicle_app_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 3
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "cronicle" {
      driver = "docker"

      resources {
        memory = 200
      }

      env = {
        CRONICLE_base_app_url = "https://cronicle.{{ BaseDomain }}"
      }

      volume_mount {
        volume      = "cronicle_data_volume"
        destination = "/opt/cronicle/data"
        read_only   = false
      }

      volume_mount {
        volume      = "cronicle_logs_volume"
        destination = "/opt/cronicle/logs"
        read_only   = false
      }

      volume_mount {
        volume      = "cronicle_plugins_volume"
        destination = "/opt/cronicle/plugins"
        read_only   = false
      }

      volume_mount {
        volume      = "cronicle_app_volume"
        destination = "/app"
        read_only   = false
      }

      config {
        image = "bluet/cronicle-docker"
        hostname = "cronicle-master"
        ports = ["cronicle_port"]
      }
    }
  }
}

