job "firefly-iii_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "firefly-iii_group" {
    count = 1

    network {
      port "firefly_port" {
        statoc       = "9299"
        to           = "8080"
        host_network = "tailscale"
      }
    }

    restart {
      attempts = 10
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "firefly-iii" {
      driver = "docker"

      env = {
        APP_KEY     = "{{ FireflyApplicationEncryptionKey }}"
        DB_HOST     = "{{ DatabaseHost }}"
        DB_USERNAME = "{{ FireflyDatabaseUsername }}"
        DB_PASSWORD = "{{ FireflyDatabasePassword }}"
        DB_DATABASE = "{{ FireflyDatabaseName }}"
        APP_URL     = "https://firefly.{{ BaseDomain }}"
      }

      config {
        image = "fireflyiii/core:latest"
        ports = ["firefly_port"]
      }
    }
  }
}

