job "mailpile_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "mailpile_group" {
    count = 1

    network {
      port "mailpile_port" {
        static       = "4246"
        to           = "33411"
        host_network = "tailscale"
      }
    }

    volume "mailpile_gnupg_volume" {
      type      = "host"
      source    = "mailpile_gnupg_hdd_volume"
      read_only = false
    }

    volume "mailpile_data_volume" {
      type      = "host"
      source    = "mailpile_data_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 3
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "mailpile" {
      driver = "docker"

      volume_mount {
        volume      = "mailpile_gnupg_volume"
        destination = "/root/.gnupg"
        read_only   = false
      }

      volume_mount {
        volume      = "mailpile_data_volume"
        destination = "/root/.local/share/Mailpile"
        read_only   = false
      }

      env = {
        MAILPILE_IGNORE_BINARIES="Tor"
      }

      config {
        image = "memphisx/rpi-mailpile"
        ports = ["mailpile_port"]
      }
    }
  }
}
