job "memoet_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "memoet_group" {
    count = 1

    network {
      port "memoet_port" {
        static       = "5060"
        to           = "4000"
        host_network = "tailscale"
      }
    }

    restart {
      attempts = 3
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "memoet" {
      driver = "docker"

      env = {
        DATABASE_URL = "postgres://{{ DatabaseUser }}:{{ DatabasePassword }}@{{ DatabaseHost }}/memoet"
        SECRET_KEY_BASE = "{{ SecretKeyBase }}"
        URL_HOST = "memoet.{{ BaseDomain }}"
        URL_SCHEMA = "https"
        URL_PORT = "443"
      }

      config {
        image = "manhtai/memoet:latest"
        ports = ["memoet_port"]
      }
    }

  }
}
