job "metabase_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "metabase_group" {
    count = 1

    network {
      port "metabase_port" {
        static       = "3999"
        to           = "3000"
        host_network = "tailscale"
      }
    }

    restart {
      attempts = 3
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "metabase" {
      driver = "docker"

      env = {
        MB_DB_TYPE     = "mariadb"
        MB_DB_USER = "{{ MetabaseDatabaseUsername }}"
        MB_DB_PASS = "{{ MetabaseDatabasePassword }}"
        MB_DB_DBNAME = "{{ MetabaseDatabaseName }}"
        MB_DB_HOST   = "{{ MetabaseDatabaseHost }}"
        MB_DB_PORT = "3306"
        MB_ENCRYPTION_SECRET_KEY = "{{ MetabaseEncryptionKey }}"
      }

      config {
        image = "scurrilous/metabase"
        ports = ["metabase_port"]
      }
    }
  }
}
