job "mind_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "mind_group" {
    count = 1

    network {
      port "mind_port" {
        static       = "3232"
        to           = "8080"
        host_network = "tailscale"
      }
    }

    volume "mind_volume" {
      type      = "host"
      source    = "mind_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 3
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "mind" {
      driver = "docker"

      env = {
        TZ = "Asia/Kolkata"
      }

      volume_mount {
        volume      = "mind_volume"
        destination = "/app/db"
        read_only   = false
      }

      config {
        image = "mrcas/mind:latest"
        ports = ["mind_port"]
      }
    }
  }
}
