job "miniflux_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "miniflux_group" {
    count = 1

    network {
      port "miniflux_port" {
        static       = "5999"
        to           = "8080"
        host_network = "tailscale"
      }
    }

    restart {
      attempts = 10
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "miniflux" {
      driver = "docker"

      resources {
        memory = 200
      }

      env = {
        DATABASE_URL     = "postgres://{{ DatabaseUser }}:{{ DatabasePassword }}@{{ DatabaseHost }}/miniflux?sslmode=disable"
        RUN_MIGRATIONS     = "1"
        CREATE_ADMIN = "1"
        ADMIN_USERNAME = "{{ MinifluxUsername }}"
        ADMIN_PASSWORD = "{{ MinifluxPassword }}"
      }

      config {
        image = "miniflux/miniflux:latest"
        ports = ["miniflux_port"]
      }
    }
  }
}

