job "mongodb_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "mongodb_group" {
    count = 1

    network {
      port "mongodb_port" {
        static       = 27017
        to           = 27017
        host_network = "tailscale"
      }
    }

    volume "mongodb_volume" {
      type      = "host"
      source    = "mongodb_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 2
      interval = "10m"
      delay    = "1m"
      mode     = "delay"
    }

    task "mongodb_server" {
      driver = "docker"

      volume_mount {
        volume      = "mongodb_volume"
        destination = "/data/db"
        read_only   = false
      }

      config {
        image = "mongo:4.4.8"

        ports = ["mongodb_port"]

      }
    }

  }
}
