job "monica_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "monica_group" {
    count = 1

    network {
      port "monica_port" {
        static       = "4848"
        to           = "80"
        host_network = "tailscale"
      }
    }

    volume "monica_volume" {
      type      = "host"
      source    = "monica_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 10
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "monica" {
      driver = "docker"

      env = {
        APP_KEY = "{{ AppKey }}"
        DB_HOST = "{{ DatabaseHost }}"
        DB_USERNAME = "{{ DatabaseUser }}"
        DB_PASSWORD = "{{ DatabasePassword }}"
        APP_ENV = "production"
      }

      volume_mount {
        volume      = "monica_volume"
        destination = "/var/www/html/storage"
        read_only   = false
      }

      config {
        image = "monica:latest"
        ports = ["monica_port"]
      }
    }
  }
}
