job "my_best_of_reddit_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "my_best_of_reddit_group" {
    count = 1

    volume "my_best_of_reddit_data_volume" {
      type      = "host"
      source    = "my_best_of_reddit_data_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 2
      interval = "10m"
      delay    = "1m"
      mode     = "delay"
    }

    task "my_best_of_reddit_server" {
      driver = "docker"

      env = {
        TELEGRAM_TOKEN = "{{ TelegramBotToken }}"
      }

      volume_mount {
        volume      = "my_best_of_reddit_data_volume"
        destination = "/usr/src/app/data"
        read_only   = false
      }

      config {
        image = "rounakdatta/my-best-of-reddit"
      }
    }

  }
}
