job "mysql_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "mysql_group" {
    count = 1

    network {
      port "mysql_port" {
        static       = 3306
        to           = 3306
        host_network = "tailscale"
      }
    }

    volume "mysql_volume" {
      type      = "host"
      source    = "mysql_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 2
      interval = "10m"
      delay    = "1m"
      mode     = "delay"
    }

    task "mysql_server" {
      driver = "docker"

      resources {
        memory = 400
      }

      env = {
        MYSQL_ROOT_PASSWORD = "{{ DatabaseRootPassword }}"
      }

      volume_mount {
        volume      = "mysql_volume"
        destination = "/var/lib/mysql"
        read_only   = false
      }

      config {
        image = "{{ install_arch_mod }}/mariadb:10.3.32"

        ports = ["mysql_port"]

      }
    }

  }
}
