job "nextcloud_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "nextcloud_group" {
    count = 1

    network {
      port "nextcloud_port" {
        static       = "9292"
        to           = "80"
        host_network = "tailscale"
      }
    }

    volume "nextcloud_volume" {
      type      = "host"
      source    = "nextcloud_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 10
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "nextcloud" {
      driver = "docker"

      env = {
        MYSQL_HOST     = "{{ DatabaseHost }}"
        MYSQL_USER     = "{{ NextcloudDatabaseUsername }}"
        MYSQL_PASSWORD = "{{ NextcloudDatabasePassword }}"
        MYSQL_DATABASE = "{{ NextcloudDatabaseName }}"
        OVERWRITEPROTOCOL = "https"
      }

      volume_mount {
        volume      = "nextcloud_volume"
        destination = "/var/www/html"
        read_only   = false
      }

      config {
        image = "nextcloud"
        ports = ["nextcloud_port"]
      }
    }
  }
}

