job "ntfy_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "ntfy_group" {
    count = 1

    network {
      port "ntfy_port" {
        static       = "9577"
        to           = "80"
        host_network = "tailscale"
      }
    }

    volume "ntfy_cache_volume" {
      type      = "host"
      source    = "ntfy_cache_hdd_volume"
      read_only = false
    }

    volume "ntfy_user_volume" {
      type      = "host"
      source    = "ntfy_user_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 3
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "ntfy" {
      driver = "docker"

# this is how we embed a file first into local task directory (host)
# and then mount that onto the container (look at the `volumes` under `config`)
      template {
        data = <<HELLO
auth-file: "/var/lib/ntfy/user.db"
auth-default-access: "deny-all"
        HELLO
        destination = "config/server.yml"
      }

      env = {
        NTFY_BASE_URL = "https://ntfy.{{ BaseDomain }}"
        NTFY_CACHE_FILE = "/var/cache/ntfy/cache.db"
        NTFY_ATTACHMENT_CACHE_DIR = "/var/cache/ntfy/attachments"
        NTFY_ATTACHMENT_FILE_SIZE_LIMIT = "1G"
        NTFY_ATTACHMENT_EXPIRY_DURATION = "48h"
        NTFY_BEHIND_PROXY = "true"
      }

      volume_mount {
        volume      = "ntfy_cache_volume"
        destination = "/var/cache/ntfy"
        read_only   = false
      }

      volume_mount {
        volume      = "ntfy_user_volume"
        destination = "/var/lib/ntfy"
        read_only   = false
      }

      config {
        image = "binwiederhier/ntfy"
        command = "serve"
        ports = ["ntfy_port"]
        volumes = [
          "config:/etc/ntfy"
        ]
      }
    }
  }
}

