job "photoprism_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "photoprism_group" {
    count = 1

    network {
      port "photoprism_port" {
        static       = "2342"
        to           = "2342"
        host_network = "tailscale"
      }
    }

    volume "photoprism_originals_volume" {
      type      = "host"
      source    = "photoprism_originals_hdd_volume"
      read_only = false
    }

    volume "photoprism_storage_volume" {
      type      = "host"
      source    = "photoprism_storage_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 3
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "photoprism" {
      driver = "docker"

      resources {
        memory = 200
      }

      env = {
        PHOTOPRISM_DATABASE_DRIVER = "mysql"
        PHOTOPRISM_DATABASE_SERVER     = "{{ DatabaseHost }}"
        PHOTOPRISM_DATABASE_USER = "{{ PhotoprismDatabaseUsername }}"
        PHOTOPRISM_DATABASE_PASSWORD = "{{ PhotoprismDatabasePassword }}"
        PHOTOPRISM_DATABASE_NAME = "{{ PhotoprismDatabaseName }}"
        PHOTOPRISM_UPLOAD_NSFW = "true"
        PHOTOPRISM_ADMIN_PASSWORD = "{{ PhotoprismAdminPassword }}"
        PHOTOPRISM_ORIGINALS_LIMIT = "10000"
        PHOTOPRISM_SITE_URL = "https://photoprism.{{ BaseDomain }}/"
      }

      volume_mount {
        volume      = "photoprism_originals_volume"
        destination = "/photoprism/originals"
        read_only   = false
      }

      volume_mount {
        volume      = "photoprism_storage_volume"
        destination = "/photoprism/storage"
        read_only   = false
      }

      config {
        image = "photoprism/photoprism"
        ports = ["photoprism_port"]

      }
    }
  }
}

