job "servarr_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "servarr_group" {
    count = 1

    network {
      port "torrent_port" {
        static       = "8090"
        to           = "8090"
        host_network = "tailscale"
      }

      port "prowlarr_port" {
        static       = "12002"
        to           = "9696"
        host_network = "tailscale"
      }

      port "radarr_port" {
        static       = "12003"
        to           = "7878"
        host_network = "tailscale"
      }
    }

    volume "torrent_download_volume" {
      type      = "host"
      source    = "torrent_download_hdd_volume"
      read_only = false
    }

    volume "torrent_config_volume" {
      type      = "host"
      source    = "torrent_config_hdd_volume"
      read_only = false
    }

    volume "prowlarr_config_volume" {
      type      = "host"
      source    = "prowlarr_config_hdd_volume"
      read_only = false
    }

    volume "servarr_config_volume" {
      type      = "host"
      source    = "servarr_base_config_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 10
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "qbittorrent" {
      driver = "docker"

      env = {
        PUID = "1000"
        PGID = "1000"
        TZ   = "Asia/Kolkata"
        UMASK_SET = "022"
        WEBUI_PORT = "8090"
      }

      volume_mount {
        volume      = "torrent_download_volume"
        destination = "/downloads"
        read_only   = false
      }

      volume_mount {
        volume      = "torrent_config_volume"
        destination = "/config"
        read_only   = false
      }

      config {
        image = "linuxserver/qbittorrent"
        ports = ["torrent_port"]
      }
    }

    task "prowlarr" {
      driver = "docker"

      env = {
        PUID = "1000"
        PGID = "1000"
        TZ   = "Asia/Kolkata"
      }

      volume_mount {
        volume      = "prowlarr_config_volume"
        destination = "/config"
        read_only   = false
      }

      config {
        image = "hotio/prowlarr:testing"
        ports = ["prowlarr_port"]
      }
    }

    task "radarr" {
      driver = "docker"

      env = {
        PUID = "1000"
        PGID = "1000"
        TZ   = "Asia/Kolkata"
      }

      volume_mount {
        volume      = "torrent_download_volume"
        destination = "/data"
        read_only   = false
      }

      volume_mount {
        volume      = "servarr_config_volume"
        destination = "/config"
        read_only   = false
      }

      config {
        image = "cr.hotio.dev/hotio/radarr:latest"
        ports = ["radarr_port"]
      }
    }

  }
}
