job "servarr_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "servarr_group" {
    count = 1

    network {
      port "torrent_port" {
        static       = "8090"
        to           = "8090"
        host_network = "tailscale"
      }

      port "prowlarr_port" {
        static       = "12002"
        to           = "9696"
        host_network = "tailscale"
      }

      port "radarr_port" {
        static       = "12003"
        to           = "7878"
        host_network = "tailscale"
      }

      port "sonarr_port" {
        static       = "12004"
        to           = "8989"
        host_network = "tailscale"
      }

      port "jellyfin_port" {
        static       = "12005"
        to           = "8096"
        host_network = "tailscale"
      }

    }

    volume "torrent_base_volume" {
      type      = "host"
      source    = "torrent_base_hdd_volume"
      read_only = false
    }

    volume "torrent_movies_volume" {
      type      = "host"
      source    = "torrent_movies_hdd_volume"
      read_only = false
    }

    volume "torrent_tvshows_volume" {
      type      = "host"
      source    = "torrent_tvshows_hdd_volume"
      read_only = false
    }

    volume "torrent_config_volume" {
      type      = "host"
      source    = "torrent_config_hdd_volume"
      read_only = false
    }

    volume "prowlarr_config_volume" {
      type      = "host"
      source    = "prowlarr_config_hdd_volume"
      read_only = false
    }

    volume "radarr_config_volume" {
      type      = "host"
      source    = "radarr_config_hdd_volume"
      read_only = false
    }

    volume "sonarr_config_volume" {
      type      = "host"
      source    = "sonarr_config_hdd_volume"
      read_only = false
    }

    volume "jellyfin_config_volume" {
      type      = "host"
      source    = "jellyfin_config_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 10
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "qbittorrent" {
      driver = "docker"

      env = {
        PUID = "1000"
        PGID = "1000"
        TZ   = "Asia/Kolkata"
        UMASK_SET = "022"
        WEBUI_PORT = "8090"
      }

      volume_mount {
        volume      = "torrent_base_volume"
        destination = "/downloads"
        read_only   = false
      }

      volume_mount {
        volume      = "torrent_config_volume"
        destination = "/config"
        read_only   = false
      }

      config {
        image = "linuxserver/qbittorrent"
        ports = ["torrent_port"]
      }
    }

    task "prowlarr" {
      driver = "docker"

      env = {
        PUID = "1000"
        PGID = "1000"
        TZ   = "Asia/Kolkata"
      }

      volume_mount {
        volume      = "prowlarr_config_volume"
        destination = "/config"
        read_only   = false
      }

      config {
        image = "hotio/prowlarr:testing"
        ports = ["prowlarr_port"]
      }
    }

    task "radarr" {
      driver = "docker"

      env = {
        PUID = "1000"
        PGID = "1000"
        TZ   = "Asia/Kolkata"
      }

      volume_mount {
        volume      = "torrent_movies_volume"
        destination = "/data"
        read_only   = false
      }

      volume_mount {
        volume      = "radarr_config_volume"
        destination = "/config"
        read_only   = false
      }

      config {
        image = "cr.hotio.dev/hotio/radarr:latest"
        ports = ["radarr_port"]
      }
    }

    task "sonarr" {
      driver = "docker"

      env = {
        PUID = "1000"
        PGID = "1000"
        TZ   = "Asia/Kolkata"
      }

      volume_mount {
        volume      = "torrent_tvshows_volume"
        destination = "/data"
        read_only   = false
      }

      volume_mount {
        volume      = "sonarr_config_volume"
        destination = "/config"
        read_only   = false
      }

      config {
        image = "cr.hotio.dev/hotio/sonarr:latest"
        ports = ["sonarr_port"]
      }
    }

    task "jellyfin" {
      driver = "docker"

      env = {
        PUID = "1000"
        PGID = "1000"
        TZ   = "Asia/Kolkata"
      }

      volume_mount {
        volume      = "torrent_movies_volume"
        destination = "/data/movies"
        read_only   = false
      }

      volume_mount {
        volume      = "torrent_tvshows_volume"
        destination = "/data/tvshows"
        read_only   = false
      }

      volume_mount {
        volume      = "jellyfin_config_volume"
        destination = "/config"
        read_only   = false
      }

      config {
        image = "lscr.io/linuxserver/jellyfin:latest"
        ports = ["jellyfin_port"]
      }
    }

  }
}
