job "smepl_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "smepl_group" {
    count = 1

    network {
      port "smepl_port" {
        static       = "5061"
        to           = "80"
        host_network = "tailscale"
      }
    }

    volume "smepl_data_uploads_volume" {
      type      = "host"
      source    = "smepl_hdd_uploads_volume"
      read_only = false
    }

    restart {
      attempts = 10
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "smepl" {
      driver = "docker"

      volume_mount {
        volume      = "smepl_data_uploads_volume"
        destination = "/var/www/html/wp-content/uploads"
        read_only   = false
      }

      env = {
        WORDPRESS_DB_HOST     = "{{ DatabaseHost }}"
        WORDPRESS_DB_USER     = "{{ smeplDatabaseUser }}"
        WORDPRESS_DB_PASSWORD = "{{ smeplDatabasePassword }}"
        WORDPRESS_DB_NAME     = "{{ smeplDatabaseName }}"
        WORDPRESS_DEBUG       = "{{ smeplDebugLog }}"
      }

      config {
        image = "souptikdatta/smepl"
        ports = ["smepl_port"]
      }
    }
  }
}
