job "snibox_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "snibox_group" {
    count = 1

    network {
      port "snibox_port" {
        static       = "7477"
        to           = "8000"
        host_network = "tailscale"
      }
    }

    volume "snibox_volume" {
      type      = "host"
      source    = "snibox_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 3
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "snibox" {
      driver = "docker"

      env = {
        SECRET_KEY_BASE = "{{ SecretKeyBase }}"
        FORCE_SSL = "false"
        DB_NAME = "snibox"
        DB_USER = "{{ DatabaseUser }}"
        DB_PASS = "{{ DatabasePassword }}"
        DB_HOST = "{{ DatabaseHost }}"
        DB_PORT = "5432"
      }

      volume_mount {
        volume      = "snibox_volume"
        destination = "/app/public"
        read_only   = false
      }

      config {
        image = "snibox/snibox:latest"
        command = "./bin/rails s -p 3000 -b '0.0.0.0'"
        ports = ["snibox_port"]
      }
    }
  }
}

