job "thunderbird_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "thunderbird_group" {
    count = 1

    network {
      port "thunderbird_port" {
        static       = "3204"
        to           = "8080"
        host_network = "tailscale"
      }
    }

    volume "thunderbird_data_volume" {
      type      = "host"
      source    = "thunderbird_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 3
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "thunderbird" {
      driver = "docker"

      resources {
        memory = 1024
      }

      env = {
        THUNDERBIRD_V     = "latest"
        THUNDERBIRD_LANG     = "en-US"
        TURBOVNC_PARAMS = "-securitytypes none"
        CUSTOM_RES_W = "1920"
        CUSTOM_RES_H = "1080"
        UID = "1000"
        GID = "1000"
        UMASK = "000"
        DATA_PERM = "770"
      }

      volume_mount {
        volume      = "thunderbird_data_volume"
        destination = "/thunderbird"
        read_only   = false
      }

      config {
        image = "ich777/thunderbird"
        ports = ["thunderbird_port"]
      }
    }
  }
}

