job "vikunja_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "vikunja_group" {
    count = 1

    network {
      port "vikunja_port" {
        static       = "45566"
        to           = "3456"
        host_network = "tailscale"
      }
    }

    volume "vikunja_volume" {
      type      = "host"
      source    = "vikunja_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 10
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "vikunja" {
      driver = "docker"

      env = {
        VIKUNJA_DATABASE_HOST     = "{{ DatabaseHost }}"
        VIKUNJA_DATABASE_USER     = "{{ VikunjaDatabaseUsername }}"
        VIKUNJA_DATABASE_PASSWORD = "{{ VikunjaDatabasePassword }}"
        VIKUNJA_DATABASE_DATABASE = "{{ VikunjaDatabaseName }}"
        VIKUNJA_DATABASE_TYPE     = "mysql"
        VIKUNJA_SERVICE_ENABLEEMAILREMINDERS = "true"
        VIKUNJA_MAILER_ENABLED = "true"
        VIKUNJA_MAILER_FORCESSL = "true"
        VIKUNJA_MAILER_HOST = "{{ VikunjaMailerHost }}"
        VIKUNJA_MAILER_PORT = "{{ VikunjaMailerPort }}"
        VIKUNJA_MAILER_USERNAME = "{{ VikunjaMailerUsername }}"
        VIKUNJA_MAILER_PASSWORD = "{{ VikunjaMailerPassword }}"
        VIKUNJA_MAILER_FROMEMAIL = "{{ VikunjaMailerSender }}"
        VIKUNJA_SERVICE_JWTSECRET = "{{ VikunjaJwtSecret }}"
        VIKUNJA_SERVICE_FRONTENDURL = "https://vikunja.{{ BaseDomain }}"
        VIKUNJA_SERVICE_ENABLEREGISTRATION = "false"
      }

      volume_mount {
        volume      = "vikunja_volume"
        destination = "/app/vikunja/files"
        read_only   = false
      }

      config {
        image = "vikunja/vikunja"
        ports = ["vikunja_port"]

      }
    }
  }
}

