job "watchtower_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "watchtower_group" {
    count = 1

    volume "watchtower_volume" {
      type      = "host"
      source    = "watchtower_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 10
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "watchtower" {
      driver = "docker"

      volume_mount {
        volume      = "watchtower_volume"
        destination = "/var/run/docker.sock"
        read_only   = false
      }

      config {
        image = "containrrr/watchtower"
      }
    }
  }
}
