job "webtrees_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "webtrees_group" {
    count = 1

    network {
      port "webtrees_port" {
        static       = "3299"
        to           = "80"
        host_network = "tailscale"
      }
    }

    volume "webtrees_data_volume" {
      type      = "host"
      source    = "webtrees_data_hdd_volume"
      read_only = false
    }

    volume "webtrees_media_volume" {
      type      = "host"
      source    = "webtrees_media_hdd_volume"
      read_only = false
    }

    restart {
      attempts = 3
      interval = "25m"
      delay    = "1m"
      mode     = "delay"
    }

    task "webtrees" {
      driver = "docker"

      resources {
        memory = 100
      }

      env = {
        DB_HOST     = "{{ DatabaseHost }}"
        DB_USER = "{{ WebtreesDatabaseUsername }}"
        DB_PASS = "{{ WebtreesDatabasePassword }}"
        DB_NAME = "{{ WebtreesDatabaseName }}"
        BASE_URL     = "https://webtrees.{{ BaseDomain }}"
      }

      volume_mount {
        volume      = "webtrees_data_volume"
        destination = "/var/www/webtrees/data"
        read_only   = false
      }

      volume_mount {
        volume      = "webtrees_media_volume"
        destination = "/var/www/webtrees/media"
        read_only   = false
      }

      config {
        image = "ghcr.io/nathanvaughn/webtrees:latest"
        ports = ["webtrees_port"]

      }
    }
  }
}

