job "wikijs_job" {
  datacenters = ["246bp"]
  type        = "service"

  group "wikijs_group" {
    count = 1

    network {
      port "wikijs_port" {
        to           = "3000"
        host_network = "tailscale"
      }
    }

    restart {
      attempts = 10
      interval = "25m"
      delay    = "25s"
      mode     = "delay"
    }

    task "wikijs" {
      driver = "docker"

      env = {
        DB_TYPE = "mariadb"
        DB_HOST = "{{ DatabaseHost }}"
        DB_PORT = "3306"
        DB_USER = "{{ WikijsDatabaseUsername }}"
        DB_PASS = "{{ WikijsDatabasePassword }}"
        DB_NAME = "{{ WikijsDatabaseName }}"
      }

      config {
        image = "requarks/wiki:2"
        ports = ["wikijs_port"]

      }
    }
  }
}

